
#header
{
    width: 100%;
    height: 120px;
    background: #999999;
    color: #ff0000;
    margin: 0 auto;
    text-transform: capitalize;
}
/*#main{
    margin: 0 auto;
    border: 5px solid red;
    width: 900px;
    height: 500px;
}*/

#H_logo{
    float: left;
    width: 250px;
}
#headername {
    float: left;
    width: 400px;
    font-size: 24px;
    color: red;
}
#headersearh {
    float: right;
    width: 250px;
    height: 120px;
    text-align: center;
}
#search{
    margin-top: 60px;
    width: 200px;
    border-radius: 5px;
}

#footer
{
    width: 100%;
    height: 60px;
     background: #999999;
    color: #ff0000;
    margin: 0 auto;
}
#footerLeft{
    float: left;
    width: 250px;
}
#footerMiddle{
    margin-top: 20px;
    float: left;
    width: 400px;
    font-size: 24px;
    color: #0000cc;
    
}
#footerRight{
    
   float: right;
    width: 250px;
    text-align: center;
}